.paragraph {
  line-height: 2;
}

.planet-info {
  grid-row: 1 / 4;
  grid-column: 7 / 10;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .planet-info {
    grid-row: 5 / 8;
    grid-column: 1 / 5;
    margin-top: 3em;
  }

  .planet-info h1 {
    font-size: 5em;
  }

  .planet-info p {
    font-size: 1em;
    line-height: 2.5;
  }

  .source {
    margin-top: 3em;
  }
}

@media only screen and (max-width: 768px) {
  .planet-info {
    grid-row: 5 / 8;
    grid-column: 2 / 10;
    text-align: center;
  }

  .planet-info h1 {
    font-size: 4em;
  }

  .planet-info p {
    font-size: 1em;
  }

  .source {
    margin-top: 5em;
  }
}
