@import url("https://fonts.googleapis.com/css2?family=Antonio&family=League+Spartan:wght@400;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/spartan");

html {
  font-size: 10px;
}
:root {
  /*colors*/

  --white: #ffffff;
  --main-black: #070724;
  --main-blackish: #38384f;
  --main-gray: #838391;
  --Mercury: #419ebb;
  --Venus: #eda249;
  --Earth: #6f2ed6;
  --Mars: #d83a34;
  --Jupiter: #cd5120;
  --Uranus: #1ec2a4;
  --Neptune: #2d68f0;
  --Saturn: #cd5120;
  /*typos*/
}

body {
  background: var(--main-black);
  color: var(--white);
  text-transform: uppercase;
  background-image: url("./background-stars.svg");
}

h1 {
  font-family: "Antonio", sans-serif;
  font-size: 8rem;
  margin: 0;
  letter-spacing: 0.03em;
  font-weight: 500;
}

h2 {
  font-family: "Antonio", sans-serif;
  font-size: 4rem;
}

h3 {
  font-family: "Spartan", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 2.6;
}

h4 {
  font-family: "Spartan", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
}

p {
  font-family: "Spartan", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: none;
}

a {
  color: var(--main-gray);
}
