.planet-image {
  grid-row: 1 / 8;
  grid-column: 1 / 7;
  align-self: center;
  justify-self: center;

  display: block;
  position: relative;

  overflow: visible;
}

img {
  object-fit: none;
}

.secondary-image {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: scale(0.5);
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .planet-image {
    grid-row: 1 / 6;
    grid-column: 3 / 9;
    width: 30rem;
    height: auto;
  }

  img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    object-fit: fill;
  }

  .secondary-image {
    top: 20%;
    right: 10%;
    transform: scale(0.2);
  }
}

@media only screen and (max-width: 768px) {
  .planet-image {
    width: fit-content;
    max-width: 100%;
    grid-row: 2 / 5;
    grid-column: 2 / 10;
    text-align: center;
  }

  img {
    object-fit: scale-down;
    max-width: 70%;
    max-height: 50%;
    width: auto;
    height: auto;
  }
  .secondary-image {
    top: 50%;
    right: 25%;
    transform: scale(0.5);
  }
}
