.planet-image {
  grid-row: 1 / 8;
  grid-column: 1 / 7;
  align-self: center;
  justify-self: center;
}

img {
  object-fit: none;
}

.planet-images-compiled {
  position: relative;
  width: 100%;
}

.planet-images-compiled > * {
  position: absolute;
  top: 0%;
  left: 50%;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .planet-image {
    display: flex;
    justify-content: center;
    grid-row: 1 / 6;
    grid-column: 3 / 9;
    margin-bottom: 4em;
  }

  img {
    transform: scale(0.5);
    max-width: 100%;
    height: auto;
    overflow: visible;
  }
}

@media only screen and (max-width: 768px) {
  .planet-image {
    max-width: 100%;
    grid-row: 2 / 5;
    grid-column: 2 / 10;
    text-align: center;
  }

  img {
    object-fit: scale-down;
    max-width: 70%;
    max-height: 50%;
    width: auto;
    height: auto;
  }
}
